[submodule "lib-r3vi"]
	path = lib-r3vi
	url = ../lib-r3vi
[submodule "lib-nested"]
	path = lib-nested
	url = ../lib-nested
[submodule "lib-laddertypes"]
	path = lib-laddertypes
	url = ../lib-laddertypes
[submodule "ltsh"]
	path = ltsh
	url = ../ltsh
[submodule "shell"]
	path = shell
	url = ../shell

