[submodule "r3vi"]
	path = r3vi
	url = https://github.com/michaelsippel/r3vi.git
[submodule "nested"]
	path = nested
	url = https://github.com/michaelsippel/nested.git
[submodule "shell"]
	path = shell
	url = https://github.com/michaelsippel/shell.git
[submodule "lib-laddertypes"]
	path = lib-laddertypes
	url = ./lib-laddertypes
[submodule "ltsh"]
	path = ltsh
	url = ./ltsh
